.p-dialog {
  border-radius: 1rem !important;
  .p-dialog-header {
    display: none !important;
  }
  .p-dialog-content {
    border-radius: 1rem !important;
    padding: 1.5rem 2rem !important;
  }
}

.green {
  background-color: rgb(66, 117, 5);
}
